<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/My Image/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/all-page.css">
    <link rel="stylesheet" href="../static/css/re-used.css">
</head>
<body>
    <div class="main-container">

        <div class="navbar">
            <div class="logo">
                <div class="hamburger">
                    <img src="../static/assets/Icons/interface.png" alt="Hamburger Menu" id="hamburger-icon">
                    
                    <div class="hemburger-menu hidden" id="hamburger-menu">
                        <ul>
                            <li><a href="/my-startup">Startup Sparks</a></li>
                            <li><a href="/my-freelance">Freelance Flow</a></li>
                            <li><a href="/my-hobbies">Hobbies Haven</a></li>
                        </ul>
                    </div>
                </div>
                <div class="logo-img">
                    <a href="">
                        <img src="../static/assets/Logo and Images/Roshan Logo White.png" alt="logo">
                        <p>roshan</p>
                    </a>
                </div>
            </div>
        
            <div class="nav-items">
                <a href="/my-freelance">Freelance Flow</a>
                <a href="/my-hobbies">Hobbies Haven</a>
                <a href="/my-startup">Startup Sparks</a>
            </div>
            <div class="nav-btns">
                <a href="#">
                    <button class="outline-btn">Download Resume</button>
                </a>
            </div>
        </div>
        
    
        <div class="footer">
            <h1>thankyou to visit</h1>
            <div class="footer-nav">
                <div class="navigaiton-items">
                    <div class="foot-nav-head">
                        <h3>Follow</h3>
                    </div>
                    
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>

                <div class="navigaiton-items">
                    <div class="foot-nav-head">
                        <h3>Links</h3>
                    </div>
                    
                    <ul>
                        <li><a href="#">Startup</a></li>
                        <li><a href="#">Hobbies</a></li>
                        <li><a href="#">Personal</a></li>
                        <li><a href="#">Freelance</a></li>
                        <li><a href="#">Achievment</a></li>
                    </ul>
                </div>
                <div class="navigaiton-items">
                    <div class="foot-nav-head">
                        <h3>Navigate</h3>
                    </div>
                    
                    <ul>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Experience</a></li>
                    </ul>
                </div>
                <div class="navigaiton-items">
                    <div class="foot-nav-head">
                        <h3>Contact</h3>
                    </div>
                    
                    <ul>
                        <li><a href="#">E-mail</a></li>
                        <li><a href="#">Find Me</a></li>
                        <li><a href="#">Callback</a></li>
                        <li><a href="#">Whatsapp</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright-items">
                <p>© 2025 Roshan Damor. All Rights Reserved.</p>
                <a href="/user-terms">User Terms and Conditions | @Privacy Policy.</a>
            </div>
        </div>
    </div>

    
    <script src="../static/js/index.js"></script>
    <script src="../static/js/all-page.js"></script>
</body>
</html>