{% extends "index.html" %}
{% load static %}
<title>{% block title %}Home{% endblock  %}</title>

<body>

{% block main-content %}
<div class="main-container">

    <!--Home Is Staring From Here-->
    <div class="home-container">
        <div class="home-content">
            <p>HIII, IT'S ME</p>
            <h1>Roshan Damor</h1>
            <h4>I am a <span id="skill-text">Python Developer</span></h4>
            <p>GREETINGS, ALL DIGITAL EXPLORERS ! I AM ROSHAN, A PASSIONATE AMD INNOVATIVE DEVELOPER DEDICATED TO CRAFTING IMMERSIVE DIGITAL EXPERIENCE, WELCOME TO MY ONLINE WORLD ...</p>
            <div class="home-btns">
                <a href="personal.html"><button class="outline-btn">KNOW PERSONAL</button></a>
                <a href="#"><button class="outline-btn">My Video Resume</button></a>
            </div>
        </div>
        <div class="home-hero-image">
            <img src="{% static 'assets/Vectors/Hero Image.png' %}" alt="Hero Image">
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/iamroshandamor/"><img src="{% static 'assets/Social/linkedin.png' %}" alt="Linkedin"></a>
            <a href="https://github.com/iamroshandamor20"><img src="{% static 'assets/Social/social (1).png' %}" alt="GitHub"></a>
            <a href="https://x.com/iamroshandamor"><img src="{% static 'assets/Social/twitter.png' %}" alt="Twitter"></a>
        </div>
    </div>

    <!--Projects Is Staring From Here-->
    <div class="project-container">
        <div class="cards-holder">
            <div class="main-title">
                <h1>my projects.</h1>
                <p>VISIT MY ALL PROJECTS AND VIEW FULL DETAILS ASWELL AS PREVIEW IT. </p>
                <a href="my-projects/"><button class="view-all-btn"><img src="{% static 'assets/Icons/right-arrow.png' %}" alt="">View All Projects</button></a>
            </div>

            {% for project in projects %}
                <div class="project-card">
                    <a href="{{ project.url }}"> <!-- Assuming project has a 'url' field -->
                        <div class="img-card-container">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                        </div>
                    </a>
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.description }}</p>
                    <div class="project-btns">
                        <button class="outline-btn">Preview Project</button>
                        <button class="outline-btn">View Code</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Skills Is Staring From Here-->
    <div class="skills-container">
        <div class="sec-title">
            <h1>my skills.</h1>
            <a href="my-skills/"><button class="view-all-btn"><img src="{% static 'assets/Icons/right-arrow.png'%}" alt="">View All Skills</button></a>
        </div>
        <div class="skills-cards-holder">
            {% for skill in skills %}
                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="{{ skill.image.url }}" alt="{{ skill.name }}">
                        <div class="status-card">
                            <p>{{ skill.level }}</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>{{ skill.description }}</p>
                    {% if skill.link1 %}
                    <a href="{{ skill.link1 }}" class="skl-btn" target="_blank">View Resource 1</a>
                    {% endif %}
                    {% if skill.link2 %}
                    <a href="{{ skill.link2 }}" class="skl-btn" target="_blank">View Resource 2</a>
                    {% endif %}
                </div>
                {% endfor %}

        </div>

    </div>

    <!--Blogs Is Staring From Here-->
    <div class="blogs-container">
        <div class="cards-holder">
            <div class="main-title">
                <h1>my blogs.</h1>
                <p>VISIT MY ALL BLOGS AND READ ALL MY BLOGS NOW. VIEW ALL MY AND READ NOW BLOGS NOW. </p>
                <a href="my-blogs/"><button class="view-all-btn"><img src="{% static 'assets/Icons/right-arrow.png' %}" alt="">View All Blogs</button></a>
            </div>
            {% for blog in blogs %}
                <div class="blogs-card">
                    <a href=""><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="{{blog.image.url}}" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>{{blog.title}}</h2>
                        <p>by <span id="blogger-name">{{blog.author}}</span> on <span id="blog-date">{{blog.date}}</span></p>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

    <!--Experience Is Staring From Here-->
    <div class="experience-container">
        <div class="sec-title">
            <h1>my expericence.</h1>
            <a href="my-experience/"><button class="view-all-btn"><img src="{% static 'assets/Icons/right-arrow.png' %}" alt="">View All Experiences</button></a>
        </div>
        <div class="exp-cards">
            {% for exp in expericence %}
            <div class="exp-card">
                <div class="detail">
                    <div class="compney">
                        <!-- Company Image -->
                        <div class="comney-img">
                            <img src="{{ exp.image.url }}" alt="{{ exp.title }}">
                        </div>
                        <!-- Job Title -->
                        <h2>{{ exp.title }}</h2>
                        <!-- Job Duration -->
                        <h3>
                            <span>{{ exp.date1 }}</span> - 
                            <span>{{ exp.date2|default:"Present" }}</span>
                        </h3>
                    </div>
                    <!-- Job Description -->
                    <div class="description">
                        <p>{{ exp.description }}</p>
                        {% if exp.link %}
                        <!-- Optional Project Link -->
                        <a href="{{ exp.link }}" target="_blank" class="link-btn">Learn More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <!--Contact Is Staring From Here-->
    <div class="contact-container">
        <div class="contect-title">
            <h1>contact me.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, repellendus nam? Praesentium sit dolor possimus.</p>
            <div class="mobile">
                <img src="{% static 'assets/Icons/phone-call.png' %}" alt="Phone">
                <p>+91 9179924975</p>
            </div>
            <div class="email">
                <img src="{% static 'assets/Icons/mail.png' %}" alt="Email">
                <p>contact@roshandamor.site</p>
            </div>
            <div class="gmail">
                <img src="{% static 'assets/Icons/email (2).png' %}" alt="Email">
                <p>iamroshandamor@gmail.com</p>
            </div>
            <div class="address">
                <img src="{% static 'assets/Icons/location.png' %}" alt="Address">
                <p>Uit-Rgpv, Bhopal, Mp, India</p>
            </div>
        </div>

        {% if success %}
        <p style="color: white;">Your message has been sent successfully!</p>
        {% endif %}
        <div class="contact-form">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="text" name="name" placeholder="Full Name" value="{{ form.name.value|default:'' }}">
                <input type="email" name="email" placeholder="Your Email" value="{{ form.email.value|default:'' }}">
                <input type="text" name="subject" placeholder="Subject" value="{{ form.subject.value|default:'' }}">
                <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message">{{ form.message.value|default:'' }}</textarea>
                <button type="submit" class="btn">Send Message <img src="{% static 'assets/Icons/arrow.png' %}" alt=""></button>
            </form>
        </div>
    </div>

    <!--FAQs Is Staring From Here-->
    <div class="faqs-container">
        <div class="sec-title">
            <h1>my faq's.</h1>
        </div>
        <div class="faq-cards">
            {% for faq in faqs %}
            <div class="faq-card">
                <div class="faq-dtln">
                    <h2>{{faq.question}}</h2>
                    <p>{{faq.answer}}</p>
                </div>
                <div class="btn-faq">
                    <img class="show-faq" src="{% static 'assets/Icons/plus.png' %}" alt="">
                    <img class="hide-faq" src="{% static 'assets/Icons/minus.png' %}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div> 

</div>
{% endblock %}

</body>
</html>