{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/My Image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="{% static 'js/home.js' %}"></script>
    <title>Roshan Portfolio | {% block title %}{% endblock  %}</title>
</head>
<body>

    <div class="main-container">

        <!--Navbar Is Starting From Here-->
        <div class="nav-bar">
            <img src="{% static 'assets/My Image/Roshan Logo5.png' %}" alt="Roshan Damor Logo">
            <div class="nav-items">
                <a href="my-research/">RESEARCH WORKS</a>
                <a href="my-startups/">MY STARTUPS</a>
                <a href="my-personal/">KNOW PERSONAL </a>
            </div>
            <a href="my-resume/"><button class="outline-btn">DOWNLOAD RESUME</button></a>
        </div>
        
        {% block main-content %}
        {% endblock %}

        <!--Footer Is Staring From Here-->
        <div class="footer">
            <div class="head-footer">
                <h2>💙 Thankyou Very Much For Visiting My Site 💙</h2>
            </div>
            <div class="footer-dtl">
                <div class="footer-logo">
                    <img src="{% static 'assets/My Image/Roshan Logo5.png' %}" alt="Roshan Damor Logo">
                    <p>Visit My All Social Presene to Know More About Me and Do Follow For Further Updates.</p>
                    <div class="footer-social-icons">
                        <a href="www.linkedin.com/in/iamroshandamor"><img src="{% static 'assets/Social/linkeding.png' %}" alt="Linkedin"></a>
                        <a href="https://www.facebook.com/fbroshandamor/"><img src="{% static 'assets/Social/facebook.png' %}" alt="Facebook"></a>
                        <a href="https://x.com/iamroshandamor"><img src="{% static 'assets/Social/twitter (1).png' %}" alt="Twitter"></a>
                        <a href="https://www.instagram.com/imroshandamor/profilecard/?igsh=NWlidnd1eW94MHhz"><img src="{% static 'assets/Social/instagram.png' %}" alt="Instagram"></a>
                        <a href="https://www.youtube.com/@iamroshandamor"><img src="{% static 'assets/Social/Yutube.png' %}" alt="Youtube"></a>
                        <a href="https://medium.com/@iamroshandamor"><img src="{% static 'assets/Social/medium.png' %}" alt="Medium"></a>
                        <a href="https://github.com/iamroshandamor20"><img src="{% static 'assets/Social/github.png' %}" alt="GitHub"></a>
                    </div>
                </div>
                <div class="nave-links">
                    <div class="Navigation-links">
                        <h3>NAVIGATION</h3>
                        <a href="">HOME</a>
                        <a href="my-projects/">PROJECTS</a>
                        <a href="my-personal/">ABOUT</a>
                        <a href="my-blogs/">BLOGS</a>
                        <a href="my-personal/products/">BUY/SELL</a>
                    </div>
                    <div class="footer-contact">
                        <h3>CONTACT</h3>
                        <a href="#">+91 9179924975</a>
                        <a href="www.iamroshandmaor@gmail.com">IAMROSHANDAMOR@GMAIL.COM</a>
                        <a href="wwww.contact@roshandamor.site">CONTACT@ROSHANDAMOR.SITE</a>
                        <a href="">WWW.ROSHANDAMOR.SITE</a>
                        <a href="#">UIT-RGPV, BHOPAL, MP, INDIA</a>
                    </div>
                </div>
            </div>
            <div class="copy-footer">
                <p>&copy; 2024 Roshan Damor. All Rights Reserved.</p>
                <a href="#"><p>User Terms & Conditions | Privacey Policy</p></a>
            </div>
        </div>

    </div>
</body>
</html>