</head>
<body>
{% block main-content %}

    <div class="main-container">
        <!--About me Is Starting From Here-->
        <div class="aboutme-container">
            
            <div class="image">
                <span style="--i:1"><img src="/assets/My Image/Roshan Damor Image 1.jpg"></span>
                <span style="--i:2"><img src="/assets/My Image/Roshan Damor Image 2.jpg"></span>
                <span style="--i:3"><img src="/assets/My Image/Roshan Damor Image 3.jpg"></span>
                <span style="--i:4"><img src="/assets/My Image/Roshan Damor Image 4.jpg"></span>
                <span style="--i:5"><img src="/assets/My Image/Roshan Damor Image 5.jpg"></span>
                <span style="--i:6"><img src="/assets/My Image/Roshan Damor Image 6.jpg"></span>
                <span style="--i:7"><img src="/assets/My Image/Roshan Damor Image 7.jpg"></span>
                <span style="--i:8"><img src="/assets/My Image/Roshan Damor Image 8.jpg"></span>
                <span style="--i:9"><img src="/assets/My Image/Roshan Damor Image 9.jpg"></span>
                <span style="--i:10"><img src="/assets/My Image/Roshan Damor Image 10.jpg"></span>
            </div>

            <div class="aboutme">
                <h3>about me.</h3>
                <p id="tagline">I'm a python - django backend developer interested in data science and AI ML</p>
                <p id="description">I'm passionate about exploring the transformative realms of Artificial Intelligence, Machine Learning, and Entrepreneurship. As a Computer Science and Engineering student at UIT-RGPV Bhopal, my goal is to secure a placement in the AI/Ml domain while gaining hands-on experience through internships.</p>
                <a href=""><button class="outline-btn">See My Achievements</button></a>
                <a href=""><button class="outline-btn">Collaborate with Me</button></a>
                <a href=""><button class="outline-btn">Get in Touch to Me</button></a>
            </div>
        </div>
        

        <!--My Products is here-->
        <div class="container-filled">
            <div class="book_header">
                <h2>my books.</h2>
                <a href="books.html"><button class="outline-btn">All Products</button></a>
            </div>
            <div class="products-cards">
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Books/Book 1.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Falling Drops of Love</h3>
                        <div class="btns">
                            <button class="outline-btn">Read Now</button>
                            <button class="outline-btn">Buy Now</button>
                        </div>      
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Books/Book 2.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Sweet Summer Love</h3>
                        <div class="btns">
                            <button class="outline-btn">Read Now</button>
                            <button class="outline-btn">Buy Now</button>
                        </div>      
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Books/Book 3.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>First Spring in Love</h3>
                        <div class="btns">
                            <button class="outline-btn">Read Now</button>
                            <button class="outline-btn">Buy Now</button>
                        </div>      
                    </div>

                </div>
                <div class="product1">
                    <div class="imgs-product">
                        <img src="assets/Books/Book 4.jpg" alt="">
                    </div>
                    <div class="dtl-product">
                        <h3>Winters Last Kiss</h3>
                        <div class="btns">
                            <button class="outline-btn">Read Now</button>
                            <button class="outline-btn">Buy Now</button>
                        </div>                        
                    </div>

                </div>
            </div>
        </div>

        <!--Education page starts from here-->
        <div class="edu-container">
            <div class="sec-title">
                <h1>my education.</h1>
            </div>
            <div class="edu-cards">

                <div class="edu-card">
                    <div class="detail">
                        <div class="institute-img">
                            <h4>Govt. Excelence School, Petlawad, Jhabua, M.P.</h4>
                            <img src="assets/Education/School-Image.jpg" alt="Schooling">
                        </div>
                        <div class="detail-edu">
                            <div class="edu-details">
                                <h3>Higher Sacondery Schooling (11th-12th)</h3>
                                <h4>June 2019 - May 2021</h4>
                            </div>
                            <div class="description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu-card">
                    <div class="detail">
                        <div class="institute-img">
                            <img src="assets/Education/College-Image.jpg" alt="College">
                            <h4>University Institute of Technology, RGPV, Bhopal, M.P.</h4>
                        </div>
                        <div class="detail-edu">
                            <div class="edu-details">
                                <h3>B.Tech in Computer Science & Engineering (UG)</h3>
                                <h4>September 2023 - June 2027</h4>
                            </div>
                            <div class="description">
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hobby Is Staring From Here-->
        <div class="hobbies-container">
            <div class="cards-holder">
                <div class="up-card">
                    <div class="horizontal-card">
                        <div class="main-title">
                            <h1>my hobbies.</h1>
                            <p>VISIT MY ALL BLOGS AND READ ALL MY BLOGS NOW. VIEW ALL MY AND READ NOW BLOGS NOW. </p>
                            <a href="hobbies.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">Show Hobbies</button></a>
                        </div>
                
                        <div class="adventures-card">
                            <div class="my-bt0">
                                <a href="adventture videos.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">More Adventures</button></a>
                            </div>
                            <div class="adventures-product">
                                <video controls>
                                    <source src="assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
            
                    <div class="top-card">
                        <div class="song">
                            <div class="song-product">
                                <!-- Song Cover and Info -->
                                <div class="song-details">
                                    <div class="song-btn">
                                        <a href="photography.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">Explore More</button></a>
                                    </div>
                                    <img id="song-cover" src="assets/Hobbies/Songs/Tere Hoke cover.jpg" alt="Song Cover" /> 
                                </div>
                                <!-- Player Controls -->
                                <div class="controls">
                                    <div class="song-info">
                                        <h3 id="song-title">Humble Poet</h3>
                                        <p id="song-artist">Artist Name</p>
                                    </div>
                                    <div class="player-controler">
                                        <div class="player-controls">
                                            <button id="random-btn" class="control-btn"><img src="assets/Icons/sound-wave.png" alt=""></button>
                                            <button id="prev-btn" class="control-btn"><img src="assets/Icons/next (2).png" alt=""></button>
                                            <button id="play-pause-btn" class="control-btn"><img src="assets/Icons/play.png" alt=""></button>
                                            <button id="next-btn" class="control-btn"><img src="assets/Icons/next (1).png" alt=""></button>
                                            <button id="loop-btn" class="control-btn"><img src="assets/Icons/repeat.png" alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                

                        <div class="vertical-cards">

                            <div class="creative-card">
                                <div class="creative-product">
                                    <img src="assets/Hobbies/Creative/Art 1.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 2.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 3.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 4.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 5.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 6.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 7.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 8.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 9.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 10.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 11.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 12.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 13.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 14.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 15.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 16.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 17.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 18.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 19.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 20.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 21.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 22.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 23.jpg" alt="">
                                    <img src="assets/Hobbies/Creative/Art 24.jpg" alt="">
                                </div>
                                <div class="slider-button">
                                    <a href="photography.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">Creative Hobby</button></a>
                                </div>                  
                            </div>

                            <div class="photo-card">
                                <div class="photo-product">
                                    <img src="assets/Hobbies/Photography/Image 1.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 2.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 3.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 4.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 5.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 6.jpg" alt="">
                                    <img src="assets/Hobbies/Photography/Image 7.jpg" alt="">
                                </div>
                                <div class="slider-button">
                                    <a href="photography.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">Photography Hobby</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <!--ideas Is Staring From Here-->
        <div class="ideas-container">
            <div class="sec-title">
                <h1>my ideas & inspirations.</h1>
                <a href="ideas.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All Ideas</button></a>
            </div>
            <div class="ideas-cards-holder">

                <div class="ideas-card">
                    <div class="img-status-card">
                        <div class="left-half">
                            <div class="img-card">
                                <img src="assets/Hobbies/Adios 2.jpeg" alt="Python">
                            </div>
                            <div class="idea-title-card">
                                <h3>My Idea is to make a developer centric AI based Operating System which is tailored to devs and coders.</h3>
                            </div>
                        </div>

                        <div class="right-half">

                            <div class="status-card">
                                <p>ongoing</p>
                            </div>
                            <div class="my-btns">
                                <button class="outline-btn">View Cirtificate</button>
                                <button class="outline-btn">My Resources</button>
                            </div>
                        </div>

                    </div>
                    <div class="dtl-status-card">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat deserunt possimus animi optio fugiat dicta ipsam deleniti consequatur excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ut dolores. Facere, suscipit vero quod animi eos voluptas? Aliquam officiis facere nihil, delectus perspiciatis minus?</p>
                    </div>
                </div>

                <div class="ideas-card">
                    <div class="img-status-card">
                        <div class="left-half">
                            <div class="img-card">
                                <img src="assets/Hobbies/Agri-Cart Logo.jpg" alt="Python">
                            </div>
                            <div class="idea-title-card">
                                <h3>The Idea is to create a e-commerce platform for farmers to buy and sell goods with minimum efforts possible.</h3>
                            </div>
                        </div>

                        <div class="right-half">

                            <div class="status-card">
                                <p>ongoing</p>
                            </div>
                            <div class="my-btns">
                                <button class="outline-btn">View Cirtificate</button>
                                <button class="outline-btn">My Resources</button>
                            </div>
                        </div>

                    </div>
                    <div class="dtl-status-card">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat deserunt possimus animi optio fugiat dicta ipsam deleniti consequatur excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ut dolores. Facere, suscipit vero quod animi eos voluptas? Aliquam officiis facere nihil, delectus perspiciatis minus?</p>
                    </div>
                </div>

                <div class="ideas-card">
                    <div class="img-status-card">
                        <div class="left-half">
                            <div class="img-card">
                                <img src="assets/Hobbies/Agrimax Logo3.jpg" alt="Python">
                            </div>
                            <div class="idea-title-card">
                                <h3>Creating a platform for industries and compnies to hire multiple farmers to produce what they want and connect them effiently.</h3>
                            </div>
                        </div>

                        <div class="right-half">

                            <div class="status-card">
                                <p>ongoing</p>
                            </div>
                            <div class="my-btns">
                                <button class="outline-btn">View Cirtificate</button>
                                <button class="outline-btn">My Resources</button>
                            </div>
                        </div>

                    </div>
                    <div class="dtl-status-card">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat deserunt possimus animi optio fugiat dicta ipsam deleniti consequatur excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ut dolores. Facere, suscipit vero quod animi eos voluptas? Aliquam officiis facere nihil, delectus perspiciatis minus?</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
</body>
</html>