{% extends "index.html" %}
{% load static %}
<title>{% block title %}Project-Detail-Page{% endblock  %}</title>
<body>
    {% block main-content %}
    <div class="main-container">

        <!--Navbar Is Starting From Here-->
        <div class="nav-bar">
            <a href="home.html">
                <img src="assets/My Image/Roshan Logo5.png" alt="Roshan Damor Logo">
            </a>
            <div class="nav-items">
                <a href="#">MY RESEARCH WORKS</a>
                <a href="#projects">MY STARTUP</a>
                <a href="#skills">MY PERSONAL INFO</a>
            </div>
            <button class="outline-btn">DOWNLOAD RESUME</button>
        </div>

        <!--Project detailed Is Starting From Here-->
        <div class="header-project">
            <div class="title-project">
                <p>Starting Date <span>12 september 2023</span> Completion Date <span>30 January 2024</span></p>
                <h2>"A personal blog system with rich media support and user interaction."</h2>
            </div>
            <div class="tech-project">
                <h3>Technologies Used:</h3>
                <div class="tech-icons">

                    <div class="skill-tech">
                        <img src="assets/Skills/C++.png" alt="CSS">
                        <p>C++</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="JavaScript">
                        <p>JavaScript</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="PHP">
                        <p>PHP</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="MySQL">
                        <p>MySQL</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="Bootstrap">
                        <p>Bootstrap</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="Git">
                        <p>Git</p>
                    </div>

                    <div class="skill-tech">
                        <img src="assets/Skills/Python.png" alt="GitHub">
                        <p>GitHub</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="project-preview">
            <div class="project-preview-container">
                <button class="project-prev-btn">
                    <img src="assets/Icons/back.png" alt="Previous">
                </button>
                <div class="project-slider-wrapper">
                    <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                    <img src="assets/Projects/Project 2.jpg" alt="Project 2">
                    <img src="assets/Projects/Project 3.jpg" alt="Project 3">
                </div>
                <button class="project-next-btn">
                    <img src="assets/Icons/next.png" alt="Next">
                </button>
            </div>
                     
            <div class="skill-btns">
                <button class="outline-btn">Preview Project</button>
                <button class="outline-btn">View Code</button>
                <button class="outline-btn">Documentation</button>
            </div>
        </div>

        <div class="project-features">
            <h2>Features</h2>
            <div class="project-features-container">
                <div class="feature">
                    <img src="assets/feature/marketing.png" alt="Feature 1">
                    <p>Rich Media Support</p>
                </div>
                <div class="feature">
                    <img src="assets/feature/money.png" alt="Feature 2">
                    <p>User Interaction</p>
                </div>
                <div class="feature">
                    <img src="assets/feature/responsive-website.png" alt="Feature 3">
                    <p>Responsive Design</p>
                </div>
                <div class="feature">
                    <img src="assets/feature/seo.png" alt="Feature 4">
                    <p>SEO Friendly</p>
                </div>
                <div class="feature">
                    <img src="assets/feature/server.png" alt="Feature 5">
                    <p>Secure</p>
                </div>
                <div class="feature">
                    <img src="assets/feature/ui-ux.png" alt="Feature 6">
                    <p>Easy to Use</p>
                </div>
            </div>
        </div>

        <div class="project-details">
            <h2>Why Project</h2>
            <div class="project-details-container">
                <div class="problem">
                    <h3>Problem</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                </div>
                <div class="solution">
                    <h3>Solution</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                </div>
            </div>
        </div>
        

        <!--All Projects Is Staring From Here-->
        <div class="similer-projects">
            <h2>Other Similer Projects</h2>
            <div class="project-container">
                <div class="cards-holder">
    
                    <div class="project-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                        <h1>Portfolio Full Stack Website Project</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                        <div class="project-btns">
                            <button class="outline-btn">Preview Project</button>
                            <button class="outline-btn">View Code</button>
    
                        </div>
                    </div>
    
                    <div class="project-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 2.jpg" alt="Project 2">
                        </div>
                        <h1>Online Banking System Project</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                        <div class="project-btns">
                            <button class="outline-btn">Preview Project</button>
                            <button class="outline-btn">View Code</button>
    
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        
    </div>
    {% endblock %}
    <script src="project.js"></script>
</body>
</html>