{% extends "index.html" %}
{% load static %}
{% block title %}Project{% endblock %}
</head>
<body>
{% block main-content %}
    <div class="project-container">
        <div class="cards-holder">
            {% for project in projects %}
                <div class="project-card">
                    <a href="{{ project.url }}"> <!-- Assuming project has a 'url' field -->
                        <div class="img-card-container">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                        </div>
                    </a>
                    <h1>{{ project.title }}</h1>
                    <p>{{ project.description }}</p>
                    <div class="project-btns">
                        <button class="outline-btn">Preview Project</button>
                        <button class="outline-btn">View Code</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
    
</body>
</html>