{% extends "index.html" %}
{% load static %}
{% block title %}Skills{% endblock %}
<body>
    {% block main-content %}
    <div class="main-container">
        <!-- All Skills -->
        <div class="skills-container">
            <div class="skills-cards-holder">
                {% for skill in skills %}
                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="{{ skill.image.url }}" alt="{{ skill.name }}">
                        <div class="status-card">
                            <p>{{ skill.level }}</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>{{ skill.description }}</p>
                    {% if skill.link1 %}
                    <a href="{{ skill.link1 }}" class="skl-btn" target="_blank">View Resource 1</a>
                    {% endif %}
                    {% if skill.link2 %}
                    <a href="{{ skill.link2 }}" class="skl-btn" target="_blank">View Resource 2</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock main-content %}

</body>
</html>