<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/My Image/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/re-used.css">
    <link rel="stylesheet" href="../static/css/startups.css">
</head>
<body>
    
<div class="startup-container">
    <div class="wrapper">
        <div class="container">
            <input type="radio" name="slide" id="c1" checked>
            <label for="c1" class="card">
                <div class="row">
                    <div class="icon">1</div>
                    <div class="description">
                        <h4>Winter</h4>
                        <p>Winter has so much to offer creative activities</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c2" checked>
            <label for="c2" class="card">
                <div class="row">
                    <div class="icon">2</div>
                    <div class="description">
                        <h4>Digital Technology</h4>
                        <p>Gets better everyday - stay tuned</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c3" checked>
            <label for="c3" class="card">
                <div class="row">
                    <div class="icon">3</div>
                    <div class="description">
                        <h4>Globalization</h4>
                        <p>Help people all over the world</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c4" checked>
            <label for="c4" class="card">
                <div class="row">
                    <div class="icon">4</div>
                    <div class="description">
                        <h4>New Technologies</h4>
                        <p>Space Engineering becomes more and more advanced</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c5" checked>
            <label for="c5" class="card">
                <div class="row">
                    <div class="icon">5</div>
                    <div class="description">
                        <h4>New Technologies</h4>
                        <p>Space Engineering becomes more and more advanced</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c6" checked>
            <label for="c6" class="card">
                <div class="row">
                    <div class="icon">6</div>
                    <div class="description">
                        <h4>New Technologies</h4>
                        <p>Space Engineering becomes more and more advanced</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c7" checked>
            <label for="c7" class="card">
                <div class="row">
                    <div class="icon">7</div>
                    <div class="description">
                        <h4>New Technologies</h4>
                        <p>Space Engineering becomes more and more advanced</p>
                    </div>
                </div>
            </label>
            
        </div>
    </div>
    <div class="startup-header">
        <div class="startup-left">
            <div class="startup-card">
                <div class="top-startup">
                    <div class="startup-logo">
                        <img src="../static/assets/Experience/Infosys.png" alt="">
                    </div>
                    <div class="startup-content">
                        <h3>RKD Tech Solutions Private Limited</h3>
                        <div class="startup-social">
                            <p>Follow :</p>
                            <a href="https://www.instagram.com/@roshan_kumar18" target="_blank"> <img src="../static/assets/Social/instagram.png" alt=""></a>
                            <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                            <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                            <a href="https://www.x.com/@iamroshandmaor" target="_blank"><img src="../static/assets/Social/twitter (1).png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="down-startup">
                    <div class="address">
                        <img src="../static/assets/Icons/left-arrow.png" alt="">
                        <div class="add-tag">
                            <p>Address :</p>
                            <p>Patna, Bihar, India</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="startup-description">
                <h2>Startup Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas esse sint, consequuntur perferendis a voluptatum. Illo labore possimus laudantium? Repellendus pariatur quisquam omnis vel atque, fuga est repudiandae reprehenderit itaque maxime unde. Vero voluptatibus perspiciatis non, deleniti eveniet provident dolore et nesciunt laborum deserunt, molestias minima quis sapiente obcaecati necessitatibus cumque dolor assumenda voluptatem soluta aliquam fuga harum consequatur totam? Molestiae soluta reprehenderit repellat fugit fugiat dolorem consectetur, beatae ducimus? Sed ullam ad saepe facilis. Sunt eius dolorem, aliquid magni cumque quis facere nulla, culpa quibusdam error, aperiam distinctio laborum facilis. Est sequi cum consequuntur laudantium quis in harum vitae. </p>
            </div>
        </div>

        <div class="startup-right">
            <div class="bio-startup">
                <h2>Startup Pitch</h2>
                <p>Our startup is a leading provider of innovative solutions for the space industry. We specializ Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quos ipsa reprehenderit repellendus voluptatibus, officiis doloribus, at itaque sed atque culpa et iste aspernatur, quidem dolore libero! Error quasi nam libero enim excepturi ipsa culpa non optio ipsum totam aspernatur recusandae tempore hic, ad et illo facere! Aut, natus eos. <a href="">Click Here to Read More</a></p>
                <div class="startup-pitch">
                    <video controls poster="../static/assets/Education/College-Image.jpg" width="100%" height="auto">
                        <source src="../static/assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <button class="outline-btn">Download Pitch</button>
            </div>            
        </div>
    </div>

    <div class="startup-team">
        <h2>Team Details</h2>
        <div class="team-cards">
            <div class="team-card">
                <div class="profile-pic">
                    <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3>Krishna Rao</h3>
                    <p>CEO & Founder</p>
                </div>
                <div class="team-connect">
                    <a href=""><button class="outline-btn"> + Connect</button></a>
                </div>
            </div>
    
            <div class="team-card">
                <div class="profile-pic">
                    <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3>Krishna Rao</h3>
                    <p>CEO & Founder</p>
                </div>
                <div class="team-connect">
                    <a href=""><button class="outline-btn"> + Connect</button></a>
                </div>
            </div>
    
            <div class="team-card">
                <div class="profile-pic">
                    <img src="../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
                </div>
                <div class="team-content">
                    <h3>Krishna Rao</h3>
                    <p>CEO & Founder</p>
                </div>
                <div class="team-connect">
                    <a href=""><button class="outline-btn"> + Connect</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="startup-specs">
        <h2>Startup Specs</h2>

        <div class="specs-cards">
            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Tensorflow.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>
            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/HackerRank.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia totam dolorem sit, obcaecati inventore velit recusandae ipsam placeat eveniet quas</p>
                </div>
            </div>

            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Websocket.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>

            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Rest-API.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>
        
        </div>

    </div>

    <div class="startup-specs">
        <h2>Other Details</h2>

        <div class="specs-cards">
            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Tensorflow.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>
            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/HackerRank.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia totam dolorem sit, obcaecati inventore velit recusandae ipsam placeat eveniet quas</p>
                </div>
            </div>

            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Websocket.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>

            <div class="specs-card">
                <div class="spec-icon">
                    <img src="../static/assets/Icons/Rest-API.png" alt="">
                </div>
                <div class="spec-content">
                    <h3>Startup Type</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veritatis, vel magnam quasi non placeat voluptates porro hic molestiae maxime itaque quaerat eos eaque, sint magni. Eaque quia, minus minima in commodi, ex, architecto quidem vitae amet reprehenderit officia? Nostrum similique, sequi nemo totam quia voluptatibus placeat in deleniti enim.</p>
                </div>
            </div>
        
        </div>

    </div>
</div>  
    <script src="../static/js/index.js"></script>
</body>
</html>
