<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/My Image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan | Portfolio</title>
</head>
<body>

    <div class="main-container">

        <!--Navbar Is Starting From Here-->
        <div class="nav-bar">
            <img src="assets/My Image/Roshan Logo5.png" alt="Roshan Damor Logo">
            <div class="nav-items">
                <a href="#">RESEARCH WORKS</a>
                <a href="#projects">MY STARTUPS <img src="assets/Icons/down-arrow.png" alt=""></a>
                <a href="personal.html">KNOW PERSONAL </a>
            </div>
            <button class="outline-btn">DOWNLOAD RESUME</button>
        </div>
        

        <!--Home Is Staring From Here-->
        <div class="home-container">
            <div class="home-content">
                <p>HIII, IT'S ME</p>
                <h1>Roshan Damor</h1>
                <h4>I am a <span id="skill-text">Python Developer</span></h4>
                <p>GREETINGS, ALL DIGITAL EXPLORERS ! I AM ROSHAN, A PASSIONATE AMD INNOVATIVE DEVELOPER DEDICATED TO CRAFTING IMMERSIVE DIGITAL EXPERIENCE, WELCOME TO MY ONLINE WORLD ...</p>
                <div class="home-btns">
                    <a href="personal.html"><button class="outline-btn">KNOW PERSONAL</button></a>
                    <a href="#"><button class="outline-btn">My Video Resume</button></a>
                </div>
            </div>
            <div class="home-hero-image">
                <img src="assets/Vectors/Hero Image.png" alt="Hero Image">
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/iamroshandamor/"><img src="assets/Social/linkedin.png" alt="Linkedin"></a>
                <a href="https://github.com/iamroshandamor20"><img src="assets/Social/social (1).png" alt="GitHub"></a>
                <a href="https://x.com/iamroshandamor"><img src="assets/Social/twitter.png" alt="Twitter"></a>
            </div>
        </div>

        <!--Projects Is Staring From Here-->
        <div class="project-container">
            <div class="cards-holder">
                <div class="main-title">
                    <h1>my projects.</h1>
                    <p>VISIT MY ALL PROJECTS AND VIEW FULL DETAILS ASWELL AS PREVIEW IT. </p>
                    <a href="project.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All Projects</button></a>
                </div>

                <div class="project-card">
                    <div class="img-card-container">
                        <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                    </div>
                    <h1>Portfolio Full Stack Website Project</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                    <div class="project-btns">
                        <button class="outline-btns">Preview Project</button>
                        <button class="outline-btns">View Code</button>
                        <button class="outline-btns">Documentation</button>
                    </div>
                </div>

                <div class="project-card">
                    <div class="img-card-container">
                        <img src="assets/Projects/Project 2.jpg" alt="Project 2">
                    </div>
                    <h1>Online Banking System Project</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                    <div class="project-btns">
                        <button class="outline-btns">Preview Project</button>
                        <button class="outline-btns">View Code</button>
                        <button class="outline-btns">Documentation</button>
                    </div>
                </div>

                <div class="project-card">
                    <div class="img-card-container">
                        <img src="assets/Projects/Project 3.jpg" alt="Project 3">
                    </div>
                    <h1>Customizable School Managment Project</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. esse aspernatur nostrum ad impedit, autem obcaecati ipsam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, corrupti unde accusamus ipsa tempora tenetur soluta explicabo voluptate suscipit! Sit adipisci dolore nesciunt in? Vitae!</p>
                    <div class="project-btns">
                        <button class="outline-btns">Preview Project</button>
                        <button class="outline-btns">View Code</button>
                        <button class="outline-btns">Documentation</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Skills Is Staring From Here-->
        <div class="skills-container">
            <div class="sec-title">
                <h1>my skills.</h1>
                <a href="skills.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All Skills</button></a>
            </div>
            <div class="skills-cards-holder">
                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Python.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>
                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/webrtc.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Bootstrap.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Vue.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Ubuntu.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/docker.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/django.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Postgresql.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Scikit_learn.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/React.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/Mysql.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

                <div class="skill-card">
                    <div class="img-status-card">
                        <img src="assets/Skills/redis.png" alt="Python">
                        <div class="status-card">
                            <p>ongoing</p>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis velit expedita illo labore esse ea architecto placeat porro quam iure.</p>
                    <button class="skl-btn">View Cirtificate</button>
                    <button class="skl-btn">My Resources</button>

                </div>

            </div>

        </div>
 
        <!--Blogs Is Staring From Here-->
        <div class="blogs-container">
            <div class="cards-holder">
                <div class="main-title">
                    <h1>my blogs.</h1>
                    <p>VISIT MY ALL BLOGS AND READ ALL MY BLOGS NOW. VIEW ALL MY AND READ NOW BLOGS NOW. </p>
                    <a href="blogs.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All Projects</button></a>
                </div>
                <div class="blogs-card">
                    <a href=""><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

                <div class="blogs-card">
                    <a href="#"><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

                <div class="blogs-card">
                    <a href="#"><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

            </div>
        </div>

        <!--Experience Is Staring From Here-->
        <div class="experience-container">
            <div class="sec-title">
                <h1>my projects.</h1>
                <a href="experience.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All Skills</button></a>
            </div>
            <div class="exp-cards">
                <div class="exp-card">
                    <div class="detail">
                        <div class="compney">
                            <div class="comney-img"><img src="assets/Experience/Infosys.png" alt="Google"></div>
                            <h2>Sr. Python Developer (AI-ML)</h2>
                            <h3>15th Oct - 19th Nov</h3>
                        </div>
                        <div class="description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="exp-card">
                    <div class="detail">
                        <div class="compney">
                            <div class="comney-img"><img src="assets/Experience/Amazon.png" alt=""></div>
                            <h2>Sr. Python Developer (AI-ML)</h2>
                            <h3>15th Oct - 19th Nov</h3>
                        </div>
                        <div class="description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="exp-card">
                    <div class="detail">
                        <div class="compney">
                            <div class="comney-img"><img src="assets/Experience/KMPG.png" alt=""></div>
                            <h2>Sr. Python Developer (AI-ML)</h2>
                            <h3>15th Oct - 19th Nov</h3>
                        </div>
                        <div class="description">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus alias perspiciatis minus architecto modi quisquam commodi adipisci quo ullam nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam iusto laudantium, exercitationem deleniti necessitatibus quaerat? Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

        <!--Contact Is Staring From Here-->
        <div class="contact-container">
            <div class="contect-title">
                <h1>contact me.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, repellendus nam? Praesentium sit dolor possimus.</p>
                <div class="mobile">
                    <img src="assets/Icons/phone-call.png" alt="Phone">
                    <p>+91 9179924975</p>
                </div>
                <div class="email">
                    <img src="assets/Icons/mail.png" alt="Email">
                    <p>contact@roshandamor.site</p>
                </div>
                <div class="gmail">
                    <img src="assets/Icons/email (2).png" alt="Email">
                    <p>iamroshandamor@gmail.com</p>
                </div>
                <div class="address">
                    <img src="assets/Icons/location.png" alt="Address">
                    <p>Uit-Rgpv, Bhopal, Mp, India</p>
                </div>
            </div>

            <div class="contact-form">
                <form action="#">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Your Email">
                    <input type="text" placeholder="Subject">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <button class="btn">Send Message <img src="assets/Icons/arrow.png" alt=""></button>
                </form>
            </div>
        </div>

        <!--FAQs Is Staring From Here-->
        <div class="faqs-container">
            <div class="sec-title">
                <h1>my faq's.</h1>
                <a href="faq's.html"><button class="view-all-btn"><img src="assets/Icons/right-arrow.png" alt="">View All FAQ's</button></a>
            </div>

            <div class="faq-cards">
                <div class="faq-card">
                    <div class="faq-dtln">
                        <h2>What is Python in Programming Language?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                    <div class="btn-faq">
                        <img class="show-faq" src="assets/Icons/plus.png" alt="">
                        <img class="hide-faq" src="assets/Icons/minus.png" alt="">
                    </div>
                </div>
                <div class="faq-card">
                    <div class="faq-dtln">
                        <h2>What is Python in Programming Language?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                    <div class="btn-faq">
                        <img class="show-faq" src="assets/Icons/plus.png" alt="">
                        <img class="hide-faq" src="assets/Icons/minus.png" alt="">
                    </div>
                </div>
                <div class="faq-card">
                    <div class="faq-dtln">
                        <h2>What is Python in Programming Language?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                    <div class="btn-faq">
                        <img class="show-faq" src="assets/Icons/plus.png" alt="">
                        <img class="hide-faq" src="assets/Icons/minus.png" alt="">
                    </div>
                </div>
                <div class="faq-card">
                    <div class="faq-dtln">
                        <h2>What is Python in Programming Language?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                    <div class="btn-faq">
                        <img class="show-faq" src="assets/Icons/plus.png" alt="">
                        <img class="hide-faq" src="assets/Icons/minus.png" alt="">
                    </div>

                </div>
                <div class="faq-card">
                    <div class="faq-dtln">
                        <h2>What is Python in Programming Language?</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                    </div>
                    <div class="btn-faq">
                        <img class="show-faq" src="assets/Icons/plus.png" alt="">
                        <img class="hide-faq" src="assets/Icons/minus.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!--Footer Is Staring From Here-->
        <!--Footer Is Staring From Here-->
        <div class="footer">
            <div class="head-footer">
                <h2>💙 Thankyou Very Much For Visiting My Site 💙</h2>
            </div>
            <div class="footer-dtl">
                <div class="footer-logo">
                    <img src="assets/My Image/Roshan Logo5.png" alt="Roshan Damor Logo">
                    <p>Visit My All Social Presene to Know More About Me and Do Follow For Further Updates.</p>
                    <div class="footer-social-icons">
                        <a href="www.linkedin.com/in/iamroshandamor"><img src="assets/Social/linkeding.png" alt="Linkedin"></a>
                        <a href="https://www.facebook.com/fbroshandamor/"><img src="assets/Social/facebook.png" alt="Facebook"></a>
                        <a href="https://x.com/iamroshandamor"><img src="assets/Social/twitter (1).png" alt="Twitter"></a>
                        <a href="https://www.instagram.com/imroshandamor/profilecard/?igsh=NWlidnd1eW94MHhz"><img src="assets/Social/instagram.png" alt="Instagram"></a>
                        <a href="https://www.youtube.com/@iamroshandamor"><img src="assets/Social/Yutube.png" alt="Youtube"></a>
                        <a href="https://medium.com/@iamroshandamor"><img src="assets/Social/medium.png" alt="Medium"></a>
                        <a href="https://github.com/iamroshandamor20"><img src="assets/Social/github.png" alt="GitHub"></a>
                    </div>
                </div>
                <div class="nave-links">
                    <div class="Navigation-links">
                        <h3>NAVIGATION</h3>
                        <a href="#">HOME</a>
                        <a href="#">PROJECTS</a>
                        <a href="#">ABOUT</a>
                        <a href="#">BLOGS</a>
                        <a href="#">BUY/SELL</a>
                    </div>
                    <div class="footer-contact">
                        <h3>CONTACT</h3>
                        <a href="#">+91 9179924975</a>
                        <a href="#">IAMROSHANDAMOR@GMAIL.COM</a>
                        <a href="#">CONTACT@ROSHANDAMOR.SITE</a>
                        <a href="#">WWW.ROSHANDAMOR.SITE</a>
                        <a href="#">UIT-RGPV, BHOPAL, MP, INDIA</a>
                    </div>
                </div>
            </div>
            <div class="copy-footer">
                <p>&copy; 2024 Roshan Damor. All Rights Reserved.</p>
                <a href="#"><p>User Terms & Conditions | Privacey Policy</p></a>
            </div>
        </div>

    </div>
<script src="home.js"></script>
</body>
</html>