<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/helping.css">
    <link rel="stylesheet" href="../../static/css/re-used.css">
</head>
<body>
    
<div class="help-container">
    <div class="help-hero">
        <div class="help-hero-content">
            <h1>Need Help?</h1>
            <p>Here are some of the FAQ's that might help you to get the answer of your question.</p>
        </div>
        <div class="help-hero-image">
            <imog src="../../static/assets/Icons/helping.svg" alt="Helping Image">
        </div>
    </div>
    
    <div class="cards-header">
        <h1>resources.</h1>
        <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
        <div class="search-bar">
            <input type="text" placeholder="Search Your Content">
            <button><img src="../../static/assets/Icons/search.png" alt="searchicon"></button>
        </div>
        <div class="cards-sorting">
            <div class="cards-categories">
                <span class="category active" onclick="toggleCategory(this)">All  Contnt</span>
                <span class="category" onclick="toggleCategory(this)">Job FAQ's</span>
                <span class="category" onclick="toggleCategory(this)">Tech FAQ's</span>
                <span class="category" onclick="toggleCategory(this)">Freelance FAQ's</span>
            </div>
            <div class="cards-sort">
                <button class="outline-btn" id="sort-button" onclick="toggleDropdown()">Sort FAQ's</button>
                <div class="sort-items" id="sort-items">
                    <ul>
                        <li onclick="changeSortOption(this)">Most Downloaded Content</li>
                        <li onclick="changeSortOption(this)">Least Downloaded Content</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="helping-cards">
        <div class="helping-card">
            <div class="helping-img">
                <img src="../../static/assets/Books/Book 1.jpg" alt="">
            </div>
            <div class="helping-content">
                <div class="star-rating" data-progress="4"></div>
                <h1>How to get a job? by : Roshan Damor</h1>
                <div class="price">
                    <button class="outline-btn"> Preview</button>
                    <button class="outline-btn">Buy Now</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="project-footer">
        <button class="outline-btn">VIEW ALL THE NOTE's <img src="" alt=""></button>
    </div>
</div>
    <script src="../../static/js/index.js"></script>
</body>
</html>
