<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/re-used.css">
    <link rel="stylesheet" href="../../static/css/advanture.css">
</head>
<body>
    
<div class="advanture-container">
    <div class="adventure-home">
        <div class="adventure-content">
            <h1>Journey into the Heart</h1>
            <h1>of Adventure</h1>
            <p>Explore the world with me and see the beauty of nature and the thrill of adventure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, provident? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita non sint tempora vitae dolor fugit, consequatur eum eos totam modi.</p>
            <button class="outline-btn">Explore Now</button>
        </div>
        <div class="adventure-image">
            <img src="../../static/assets/Hobbies/1363059.jpg" alt="">
        </div>
    </div>

    <div class="popular-adventures">
        <h1>Polpular Adventures</h1>
        <div class="adventure-cards">
            <div class="adventure-card">
                <div class="image-section">
                    <video src="../../static/assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" controls></video>
                </div>
                <div class="contnet-section">
                    <h2>Visit to the Beach <span>Raa Atoll, Maldives</span></h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci commodi voluptatem rerum fugit exercitationem, debitis dolorum animi? Rerum aperiam, sunt nisi laudantium nihil est.</p>
                    <div class="hashtags">
                        <span>#beach</span>
                        <span>#maldives</span>
                        <span>#raa-atoll</span>
                    </div>
                    <button class="outline-btn">View More</button>
                </div>
            </div>

            <div class="adventure-card">
                <div class="image-section">
                    <video src="../../static/assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" controls></video>
                </div>
                <div class="contnet-section">
                    <h2>Visit to the Beach <span>Raa Atoll, Maldives</span></h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci commodi voluptatem rerum fugit exercitationem, debitis dolorum animi? Rerum aperiam, sunt nisi laudantium nihil est.</p>
                    <div class="hashtags">
                        <span>#beach</span>
                        <span>#maldives</span>
                        <span>#raa-atoll</span>
                    </div>
                    <button class="outline-btn">View More</button>
                </div>
            </div>

            <div class="adventure-card">
                <div class="image-section">
                    <video src="../../static/assets/Hobbies/Vlogs-Vids/3135811-hd_1920_1080_24fps.mp4" controls></video>
                </div>
                <div class="contnet-section">
                    <h2>Visit to the Beach <span>Raa Atoll, Maldives</span></h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus adipisci commodi voluptatem rerum fugit exercitationem, debitis dolorum animi? Rerum aperiam, sunt nisi laudantium nihil est.</p>
                    <div class="hashtags">
                        <span>#beach</span>
                        <span>#maldives</span>
                        <span>#raa-atoll</span>
                    </div>
                    <button class="outline-btn">View More</button>
                </div>
            </div>

        </div>
    </div>

    <div class="adventure-images">
        <h1>advanture candids.</h1>
        <div class="mcontainer">
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 1.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 2.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 3.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 4.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 5.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 6.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 7.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 8.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 1.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 2.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 3.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 4.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 5.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 6.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 7.jpg"></div>
            <div class="box"><img src="../../static/assets/My Image/Roshan Damor Image 8.jpg"></div>

        </div>
    </div>
    
</div>
    <script src="../../static/js/index.js"></script>
</body>
</html>
