<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/re-used.css">
    <link rel="stylesheet" href="../../static/css/photography.css">
</head>
<body>
    
<div class="photo-container">
    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 1.jpg">
                <div class="content">
                    <div class="author">ROSHAN</div>
                    <div class="title">CANDID MOBILE</div>
                    <div class="topic">PHOTOGRAPHY</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>FOLLOW</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 2.jpg">
                <div class="content">
                    <div class="author">ROSHAN</div>
                    <div class="title">FLOWER MOBILE</div>
                    <div class="topic">PHOTOGRAPHY</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>FOLLOW</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 3.jpg">
                <div class="content">
                    <div class="author">ROSHAN</div>
                    <div class="title">NATURE MOBILE</div>
                    <div class="topic">PHOTOGRAPHY</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>FOLLOW</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 4.jpg">
                <div class="content">
                    <div class="author">ROSHAN</div>
                    <div class="title">WILD MOBILE</div>
                    <div class="topic">PHOTOGRAPHY</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>FOLLOW</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 1.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 2.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 3.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../static/assets/My Image/Roshan Damor Image 4.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>

    <div class="cards-header">
        <h1>my gallery.</h1>
        <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
        <div class="cards-sorting">
            <div class="cards-categories">
                <span class="category active" onclick="toggleCategory(this)">All Photographs</span>
                <span class="category" onclick="toggleCategory(this)">Wild Photographs</span>
                <span class="category" onclick="toggleCategory(this)">Flower Photographs</span>
                <span class="category" onclick="toggleCategory(this)">Nature Photographs</span>
                <span class="category" onclick="toggleCategory(this)">Candid Photographs</span>
            </div>
            <div class="cards-sort">
                <button class="outline-btn" id="sort-button" onclick="toggleDropdown()">Sort photos's</button>
                <div class="sort-items" id="sort-items">
                    <ul>
                        <li onclick="changeSortOption(this)">Most Liked Photos</li>
                        <li onclick="changeSortOption(this)">Least Liked Photos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="photographs-cards">
        <div class="photograph-card">
            <div class="photo-conent">
                <div class="left-top">
                    <div class="save-btn">
                        <img src="../../static/assets/Icons/heart.png" alt="">
                    </div>
                    <div class="like-btn">
                        <img src="../../static/assets/Icons/like.png" alt="">
                    </div>
                </div>
                <div class="right-top">
                    <a href=""><img src="../../static/assets/Icons/instagram.png" alt=""></a>
                    <a href=""><img src="../../static/assets/Icons/pintrest" alt=""></a>
                </div>
                <div class="left-bottom">
                    <span>tag1</span>
                    <span>tag2</span>
                    <span>tag3</span>
                </div>
                <div class="right-bottom">
                    <button class="outline-btn">Download</button>
                </div>
            </div>
            <div class="photo">
                <img src="../../static/assets/My Image/Roshan Damor Image 1.jpg" alt="">
            </div>
        </div>

        <div class="photograph-card">
            <div class="photo-conent">
                <div class="left-top">
                    <div class="save-btn">
                        <img src="../../static/assets/Icons/heart.png" alt="">
                    </div>
                    <div class="like-btn">
                        <img src="../../static/assets/Icons/like.png" alt="">
                    </div>
                </div>
                <div class="right-top">
                    <a href=""><img src="../../static/assets/Icons/instagram.png" alt=""></a>
                    <a href=""><img src="../../static/assets/Icons/pintrest" alt=""></a>
                </div>
                <div class="left-bottom">
                    <span>tag1</span>
                    <span>tag2</span>
                    <span>tag3</span>
                </div>
                <div class="right-bottom">
                    <button class="outline-btn">Download</button>
                </div>
            </div>
            <div class="photo">
                <img src="../../static/assets/My Image/Roshan Damor Image 2.jpg" alt="">
            </div>
        </div>

        <div class="photograph-card">
            <div class="photo-conent">
                <div class="left-top">
                    <div class="save-btn">
                        <img src="../../static/assets/Icons/heart.png" alt="">
                    </div>
                    <div class="like-btn">
                        <img src="../../static/assets/Icons/like.png" alt="">
                    </div>
                </div>
                <div class="right-top">
                    <a href=""><img src="../../static/assets/Icons/instagram.png" alt=""></a>
                    <a href=""><img src="../../static/assets/Icons/pintrest" alt=""></a>
                </div>
                <div class="left-bottom">
                    <span>tag1</span>
                    <span>tag2</span>
                    <span>tag3</span>
                </div>
                <div class="right-bottom">
                    <button class="outline-btn">Download</button>
                </div>
            </div>
            <div class="photo">
                <img src="../../static/assets/My Image/Roshan Damor Image 3.jpg" alt="">
            </div>
        </div>

        <div class="photograph-card">
            <div class="photo-conent">
                <div class="left-top">
                    <div class="save-btn">
                        <img src="../../static/assets/Icons/heart.png" alt="">
                    </div>
                    <div class="like-btn">
                        <img src="../../static/assets/Icons/like.png" alt="">
                    </div>
                </div>
                <div class="right-top">
                    <a href=""><img src="../../static/assets/Icons/instagram.png" alt=""></a>
                    <a href=""><img src="../../static/assets/Icons/pintrest" alt=""></a>
                </div>
                <div class="left-bottom">
                    <span>tag1</span>
                    <span>tag2</span>
                    <span>tag3</span>
                </div>
                <div class="right-bottom">
                    <button class="outline-btn">Download</button>
                </div>
            </div>
            <div class="photo">
                <img src="../../static/assets/My Image/Roshan Damor Image 4.jpg" alt="">
            </div>
        </div>

        <div class="photograph-card">
            <div class="photo-conent">
                <div class="left-top">
                    <div class="save-btn">
                        <img src="../../static/assets/Icons/heart.png" alt="">
                    </div>
                    <div class="like-btn">
                        <img src="../../static/assets/Icons/like.png" alt="">
                    </div>
                </div>
                <div class="right-top">
                    <a href=""><img src="../../static/assets/Icons/instagram.png" alt=""></a>
                    <a href=""><img src="../../static/assets/Icons/pintrest" alt=""></a>
                </div>
                <div class="left-bottom">
                    <span>tag1</span>
                    <span>tag2</span>
                    <span>tag3</span>
                </div>
                <div class="right-bottom">
                    <button class="outline-btn">Download</button>
                </div>
            </div>
            <div class="photo">
                <img src="../../static/assets/My Image/Roshan Damor Image 5.jpg" alt="">
            </div>
        </div>
        
    </div>

    <div class="bts-photography">
        <div class="bts-image">
            <img src="../../static/assets/Hobbies/Photography/Photgraphy-iamge.png" alt="">
        </div>
        <div class="bts-content">
            <h1>Behind The Scene</h1>
            <p>Watch the behind the scene of the photography and how it was done. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, fuga distinctio! Architecto, dolore tempore adipisci aliquam officiis sit suscipit provident iste accusantium deleniti quibusdam fugit.</p>
            <button class="outline-btn">View More</button>
        </div>
    </div>

    <div class="photography-social">
        <h1>Follow Me</h1>
        <div class="wrapper-photography">
            <div class="item item1"><a href="">
                <img src="../../static/assets/My Image/Roshan Damor Image 6.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item2"><a href="">
                <img src="../../static/assets/My Image/Roshan Damor Image 6.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item3"><a href="">
                <img src="../../static/assets/My Image/Roshan Damor Image 6.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item4"><a href="">
                <img src="../../static/assets/My Image/Roshan Damor Image 6.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item5"><a href="">
                <img src="../../static/assets/Social/Twitter.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item6"><a href="">
                <img src="../../static/assets/Social/YouTube.jpeg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item7"><a href="">
                <img src="../../static/assets/Social/InstaGram.jpeg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
            <div class="item item8"><a href="">
                <img src="../../static/assets/Social/FaceBook.jpg" alt="">
                <div class="social-category">
                    <h2>Framflower Page</h2>
                </div>
            </a></div>
        </div>
    </div>

</div>  
    <script src="../../static/js/index.js"></script>
</body>
</html>
