:root {
    --main-bg-color-1: #000F1C;
    --main-bg-color-2: #04234B;
    --main-outline-color: #004AAA;
    --btn-hover-color: #E19A00;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #BEBEBE;
    --heading-font: 'Jersey 10', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(10deg, #000000, #0d0536, #041e3b, #0c1134);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.main-container {
    max-width: 1280px;
    width: 100%;
}

/* CSS Which is Used Many Time */
.main-title {
    width: 575px;
    height: 325px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 100px;
    padding: 0 30px;
}

.main-title h1 {
    font-size: 85px;
    font-family: var(--heading-font);
    color: var(--main-text-color);
    letter-spacing: 4px;
}

.sec-title h1 {
    font-size: 85px;
    font-family: var(--heading-font);
    color: var(--main-text-color);
    letter-spacing: 4px;
}

.main-title p {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    margin-bottom: 25px;
    margin-top: 15px;
}

.outline-btn {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    margin-right: 10px;
}


.outline-btn:hover {
    border-color: transparent;
    background: linear-gradient(to right, #270b33, #091661);
    border-color: #0D92F4;
    box-shadow: 0 0 10px #014474, 0 0 30px #08263b;
    color: white;
    transform: scale(0.9);
    font-weight: 700;
}


.outline-btns {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    margin-right: 10px;
}


.outline-btns:hover {
    border-color: white;
    background: linear-gradient(to right, #270b33, #091661);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.view-all-btn {
    background-color: transparent;
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
}

.view-all-btn img {
    width: 20px;
    margin: 0px 8px;
    filter: brightness(0) invert(1);
}

.view-all-btn:hover {
    opacity: 0.3;
}

/* CSS for Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    width: 100%;
}
.nav-bar img {
    width: 200px;
}

.nav-items {
    display: flex;
    gap: 30px;
    font-family: var(--secondary-font);
}

.nav-items a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar a img {
    width: 20px;
    filter: invert(1);
}

.nav-items a:hover {
    transform: scale(1.1) rotate(3deg); /* Zoom and tilt */
    filter: hue-rotate(90deg); /* Color shift */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Shadow */
    transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}

/* CSS for Horizontal Cards */
.project-container {
    background-color: var(--main-bg-color-1);
    border-radius: 50px;
    padding: 50px;
    margin-top: 30px;
}

.cards-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; 
    width: 100%; 
    justify-items: center;
}


/* Footer section starts from here */
.footer {
    background-color: var(--main-bg-color-1);
    border-radius: 50px;
    padding: 50px;
    align-items: center;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
}
.head-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.footer h2 {
    font-size: 60px;
    font-family: var(--heading-font); /* Pixelated font */
    color: var(--main-text-color);
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer-dtl {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 50px;
}

.footer-logo img {
    height: 50px;
    margin-bottom: 25px;
}

.footer-logo p {
    font-size: 18px;
    color: var(--secondary-text-color);
}

.footer-social-icons {
    margin-top: 25px;
}

.footer-social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.footer-social-icons img {
    height: 40px;
    width: 40px;
}

.nave-links {
    display: flex;
    gap: 35px;
}
.Navigation-links,
.footer-contact {
    text-align: left;
    margin-bottom: 10px;
}

.Navigation-links h3,
.footer-contact h3 {
    color: var(--btn-hover-color); /* Orange heading color */
    margin-bottom: 10px;
    font-size: 30px;
    font-family: var(--secondary-font);
}

.Navigation-links a,
.footer-contact a {
    color: var(--secondary-text-color);
    display: block;
    margin: 5px 0;
    text-decoration: none;
    font-size: 25px;
    font-family: var(--secondary-font);
}

.Navigation-links a:hover,
.footer-contact a:hover {
    color: var(--main-text-color);
}

.copy-footer {
    margin-top: 30px;
    font-size: 25px;
    color: var(--secondary-text-color);
    border-top: 2px solid var(--main-outline-color);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.copy-footer p {
    margin: 5px 0;
    font-size: 22px;
}

.copy-footer a {
    color: var(--secondary-text-color);
    text-decoration: none;
}

.copy-footer a:hover {
    color: var(--main-text-color);
}