<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/My Image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="blog-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan | Portfolio</title>
</head>
<body>

    <div class="main-container">

        <!--Navbar Is Starting From Here-->
        <div class="nav-bar">
            <img src="assets/My Image/Roshan Logo5.png" alt="Roshan Damor Logo">
            <div class="nav-items">
                <a href="#">MY RESEARCH WORKS</a>
                <a href="#projects">MY STARTUP</a>
                <a href="#skills">MY PERSONAL INFO</a>
            </div>
            <button class="outline-btn">DOWNLOAD RESUME</button>
        </div>

        <!--bLOGS dETAIL Is Starting From Here-->
        <div class="blog-page">
            <div class="ad-space">
                <div class="ad">
                    <img src="assets/Projects/Project 1.jpg" alt="">
                </div>
                <div class="ad">
                    <img src="assets/Projects/Project 1.jpg" alt="">
                </div>
                <div class="ad">
                    <img src="assets/Projects/Project 1.jpg" alt="">
                </div>

            </div>

            <div class="blog-space">
                <div class="head">
                    <p>Date :<span class="blog-date">September 12 - 2024</span> Written By :<span class="blog-author">By Roshan Damor</span></p>
                    <h1>How to make a website in 2024</h1>
                </div>

                <img src="assets/Projects/Project 1.jpg" alt="">
                <div class="section1">
                    <h2>conclusion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem sunt corporis fugit quasi eius quis perspiciatis minima veniam, quae corrupti! Pariatur tempore, aliquam nisi sint, delectus earum similique amet ullam eum excepturi facere mollitia, veniam placeat! Dolore voluptates voluptatibus laborum id repudiandae voluptate accusantium quo aperiam autem, impedit neque, magni ratione odio quis veniam nesciunt consequuntur maxime incidunt minima dicta inventore! Facilis harum explicabo labore, tenetur atque quae deleniti, aut commodi saepe possimus similique quisquam tempore. Qui, velit commodi? Vel, animi. Sapiente distinctio veniam, suscipit ipsa accusamus aperiam tempora mollitia odit officia pariatur necessitatibus ullam vel similique, qui officiis odio explicabo maiores. Molestias aspernatur nostrum unde ut voluptates soluta?</p>
                </div>
                <div class="section2">
                    <h2>conclusion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem sunt corporis fugit quasi eius quis perspiciatis minima veniam, quae corrupti! Pariatur tempore, aliquam nisi sint, delectus earum similique amet ullam eum excepturi facere mollitia, veniam placeat! Dolore voluptates voluptatibus laborum id repudiandae voluptate accusantium quo aperiam autem, impedit neque, magni ratione odio quis veniam nesciunt consequuntur maxime incidunt minima dicta inventore! Facilis harum explicabo labore, tenetur atque quae deleniti, aut commodi saepe possimus similique quisquam tempore. Qui, velit commodi? Vel, animi. Sapiente distinctio veniam, suscipit ipsa accusamus aperiam tempora mollitia odit officia pariatur necessitatibus ullam vel similique, qui officiis odio explicabo maiores. Molestias aspernatur nostrum unde ut voluptates soluta?</p>
                </div>
                <img src="assets/Projects/Project 2.jpg" alt="">
                <div class="section3">
                    <h2>conclusion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem sunt corporis fugit quasi eius quis perspiciatis minima veniam, quae corrupti! Pariatur tempore, aliquam nisi sint, delectus earum similique amet ullam eum excepturi facere mollitia, veniam placeat! Dolore voluptates voluptatibus laborum id repudiandae voluptate accusantium quo aperiam autem, impedit neque, magni ratione odio quis veniam nesciunt consequuntur maxime incidunt minima dicta inventore! Facilis harum explicabo labore, tenetur atque quae deleniti, aut commodi saepe possimus similique quisquam tempore. Qui, velit commodi? Vel, animi. Sapiente distinctio veniam, suscipit ipsa accusamus aperiam tempora mollitia odit officia pariatur necessitatibus ullam vel similique, qui officiis odio explicabo maiores. Molestias aspernatur nostrum unde ut voluptates soluta?</p>
                </div>
                <div class="section4">
                    <h2>conclusion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem sunt corporis fugit quasi eius quis perspiciatis minima veniam, quae corrupti! Pariatur tempore, aliquam nisi sint, delectus earum similique amet ullam eum excepturi facere mollitia, veniam placeat! Dolore voluptates voluptatibus laborum id repudiandae voluptate accusantium quo aperiam autem, impedit neque, magni ratione odio quis veniam nesciunt consequuntur maxime incidunt minima dicta inventore! Facilis harum explicabo labore, tenetur atque quae deleniti, aut commodi saepe possimus similique quisquam tempore. Qui, velit commodi? Vel, animi. Sapiente distinctio veniam, suscipit ipsa accusamus aperiam tempora mollitia odit officia pariatur necessitatibus ullam vel similique, qui officiis odio explicabo maiores. Molestias aspernatur nostrum unde ut voluptates soluta?</p>
                </div>
                <img src="assets/Projects/Project 3.jpg" alt="">
                <div class="conclusion">
                    <h2>conclusion</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, autem sunt corporis fugit quasi eius quis perspiciatis minima veniam, quae corrupti! Pariatur tempore, aliquam nisi sint, delectus earum similique amet ullam eum excepturi facere mollitia, veniam placeat! Dolore voluptates voluptatibus laborum id repudiandae voluptate accusantium quo aperiam autem, impedit neque, magni ratione odio quis veniam nesciunt consequuntur maxime incidunt minima dicta inventore! Facilis harum explicabo labore, tenetur atque quae deleniti.</p>
                </div>
                

                <div class="comments">
                    <h2>Post Your Comment</h2>
                    <form>
                      <div class="input-row">
                        <input type="text" name="name" placeholder="Your Name">
                        <input type="email" name="email" placeholder="Your Email">
                      </div>
                      <textarea name="comment" placeholder="Your Comment"></textarea>
                      <button type="submit">Comment</button>
                    </form>
                  </div>
                  

            </div>

            <div class="details-space">
                <div class="search-card">
                    <h2>Find in Site</h2>
                    <div class="search-bar">
                        <input type="text" placeholder="Search Here">
                        <button><img src="assets/Icons/search (4).png" alt=""></button>
                    </div>
                </div>

                <div class="categories">
                    <h2>Categories</h2>
                    <a href="#">
                        <div class="category1">
                            <h3>Documentation</h3>
                            <p>( <span>23</span> )</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="category1">
                            <h3>Documentation</h3>
                            <p>( <span>23</span> )</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="category1">
                            <h3>Documentation</h3>
                            <p>( <span>23</span> )</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="category1">
                            <h3>Documentation</h3>
                            <p>( <span>23</span> )</p>
                        </div>
                    </a>

                </div>

                <div class="recent-posts">
                    <h2>Recent Posts</h2>
                    <a href="#">
                        <div class="posts-card">
                            <a href="#"><div class="posts-img-card">
                                <div class="img-card-container">
                                    <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                                </div>
                            </div></a>
                            <div class="posts-dtl-card">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p>by <span id="post-name">Roshan Damor</span> on <span id="post-date">April 20, 2024</span></p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="posts-card">
                            <a href="#"><div class="posts-img-card">
                                <div class="img-card-container">
                                    <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                                </div>
                            </div></a>
                            <div class="posts-dtl-card">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p>by <span id="post-name">Roshan Damor</span> on <span id="post-date">April 20, 2024</span></p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="posts-card">
                            <a href="#"><div class="posts-img-card">
                                <div class="img-card-container">
                                    <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                                </div>
                            </div></a>
                            <div class="posts-dtl-card">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                                <p>by <span id="post-name">Roshan Damor</span> on <span id="post-date">April 20, 2024</span></p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="tags">
                    <h2>Tags</h2>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                    <a href="#"><div class="tag">
                        <p>Mytaghey</p>
                    </div></a>
                </div>

                <div class="social-media">
                    <h2>Follow Me</h2>
                    <a href="www.linkedin.com/in/iamroshandamor"><img src="assets/Social/linkeding.png" alt="Linkedin"></a>
                    <a href="https://www.facebook.com/fbroshandamor/"><img src="assets/Social/facebook.png" alt="Facebook"></a>
                    <a href="https://x.com/iamroshandamor"><img src="assets/Social/twitter (1).png" alt="Twitter"></a>
                    <a href="https://www.instagram.com/iamroshandamor/"><img src="assets/Social/instagram.png" alt="Instagram"></a>
                </div>
            </div>
            
        </div>

        <!--All blogs Is Staring From Here-->
        <div class="blogs-container">
            <div class="blogs-title">
                <h1>my blogs</h1>
            </div>
            <div class="cards-holder">

                <div class="blogs-card">
                    <a href=""><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

                <div class="blogs-card">
                    <a href="#"><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

                <div class="blogs-card">
                    <a href="#"><div class="blogs-img-card">
                        <div class="img-card-container">
                            <img src="assets/Projects/Project 1.jpg" alt="Project 1">
                        </div>
                    </div></a>
                    <div class="blogs-dtl-card">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                        <p>by <span id="blogger-name">Roshan Damor</span> on <span id="blog-date">April 20, 2024</span></p>
                    </div>
                </div>

            </div>
        </div>

        <!--Footer Is Staring From Here-->
        <div class="footer">
            <div class="head-footer">
                <h2>💙 Thankyou Very Much For Visiting My Site 💙</h2>
            </div>
            <div class="footer-dtl">
                <div class="footer-logo">
                    <img src="assets/My Image/Roshan Logo5.png" alt="Roshan Damor Logo">
                    <p>Visit My All Social Presene to Know More About Me and Do Follow For Further Updates.</p>
                    <div class="footer-social-icons">
                        <a href="www.linkedin.com/in/iamroshandamor"><img src="assets/Social/linkeding.png" alt="Linkedin"></a>
                        <a href="https://www.facebook.com/fbroshandamor/"><img src="assets/Social/facebook.png" alt="Facebook"></a>
                        <a href="https://x.com/iamroshandamor"><img src="assets/Social/twitter (1).png" alt="Twitter"></a>
                        <a href="https://www.instagram.com/imroshandamor/profilecard/?igsh=NWlidnd1eW94MHhz"><img src="assets/Social/instagram.png" alt="Instagram"></a>
                        <a href="https://www.youtube.com/@iamroshandamor"><img src="assets/Social/Yutube.png" alt="Youtube"></a>
                        <a href="https://medium.com/@iamroshandamor"><img src="assets/Social/medium.png" alt="Medium"></a>
                        <a href="https://github.com/iamroshandamor20"><img src="assets/Social/github.png" alt="GitHub"></a>
                    </div>
                </div>
                <div class="nave-links">
                    <div class="Navigation-links">
                        <h3>NAVIGATION</h3>
                        <a href="#">HOME</a>
                        <a href="#">PROJECTS</a>
                        <a href="#">ABOUT</a>
                        <a href="#">BLOGS</a>
                        <a href="#">BUY/SELL</a>
                    </div>
                    <div class="footer-contact">
                        <h3>CONTACT</h3>
                        <a href="#">+91 9179924975</a>
                        <a href="#">IAMROSHANDAMOR@GMAIL.COM</a>
                        <a href="#">CONTACT@ROSHANDAMOR.SITE</a>
                        <a href="#">WWW.ROSHANDAMOR.SITE</a>
                        <a href="#">UIT-RGPV, BHOPAL, MP, INDIA</a>
                    </div>
                </div>
            </div>
            <div class="copy-footer">
                <p>&copy; 2024 Roshan Damor. All Rights Reserved.</p>
                <a href="#"><p>User Terms & Conditions | Privacey Policy</p></a>
            </div>
        </div>
    
</body>
</html>