/* CSS for Adventure section Section */
.advanture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 1280px;
    width: 100%;
    color: var(--main-text-color);
    margin-bottom: 100px;
}

.adventure-home {
    position: relative;
    width: 98.5vw;
    height: 100vh;
    overflow: hidden;
}

.adventure-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensures the image stays in the background */
    filter: blur(1px), brightness(0.5); /* Add a blur effect */
}

.adventure-content {
    position: relative;
    z-index: 1;
    color: #fff; /* White text for contrast */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%); /* Center the content vertically */
}

.adventure-content h1 {
    font-size: 100px;
    letter-spacing: 5px;
    font-family: var(--heading-font);
}

.adventure-content p {
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: var(--secondary-font);
}

.popular-adventures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.popular-adventures h1 {
    font-size: 75px;
    font-family: var(--heading-font);
    color: var(--main-text-color);
    letter-spacing: 5px;
}
.adventure-cards {
    display: flex;
    flex-direction: column;
    gap: 75px; /* Adjust as needed for spacing between cards */
}

.adventure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.adventure-card:nth-child(odd) {
    flex-direction: row; /* Video on the left, content on the right */
}

.adventure-card:nth-child(even) {
    flex-direction: row-reverse; /* Content on the left, video on the right */
}

.adventure-card .contnet-section {
    max-width: 580px; /* Adjust for your design */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: left;
    text-align: left;
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    background-color: var(--bg-color-2);
}

.image-section video {
    width: 100%;
    height: auto;
    max-width: 580px; /* Adjust for your design */
    border-radius: 10px; /* Rounded corners */
}

.contnet-section h2 {
    font-size: 40px;
    color: var(--text-hover-color);
}

.contnet-section h2 span {
    color: var(--main-text-color);
}

.contnet-section p {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    text-align: justify;
}

.hashtags span {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--secondary-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--secondary-font);
}

.adventure-images {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 100px;
}

.adventure-images h1 {
    font-size: 75px;
    color: var(--main-text-color);
    font-family: var(--heading-font);
    letter-spacing: 5px;
}

.mcontainer
{
    width: 1200px;
    margin: 40px auto;
    columns: 4;
    column-gap: 40px;
}

.mcontainer .box
{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
    border-radius: 15px;
}

.mcontainer .box img{
    max-width: 100%;
    border-radius: 15px;
}

@media (max-width: 1200px){
    .mcontainer
    {
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media (max-width: 768px){
    .mcontainer
    {
        columns: 2;
    }
}

@media (max-width: 480px){
    .mcontainer
    {
        columns: 1;
    }
}
