
/*About Me Section Start from Here */

.aboutme-container {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack the items vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 80px auto; /* Center the container horizontally and add top margin */
    border-radius: 25px;
    width: 100%;
    max-width: 1280px; /* Fixed width of the container */
    position: relative; /* Ensures positioned elements inside this container are relative to it */
}

.image {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
    display: flex;
    justify-content: center; /* Ensure content inside is centered */
    align-items: center;

}

@keyframes animate {
    0% {
        transform: perspective(1500px) rotateY(0deg);
    }
    100% {
        transform: perspective(1500px) rotateY(360deg);
    }
}

.image span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(550px);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}

.image span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 15px;
}

img:hover {
    transform: translateY(-2px);
}

.aboutme {
    color: white;
    max-width: 1280px;
    gap: 50px;
    padding-right: 100px;
    width: 100%;
    text-align: center;
    margin-top: 125px;
}

.aboutme h3 {
    margin: 0;
    padding: 0;
    font-size: 85px;
    font-family: var(--heading-font);
    color: var(--main-text-color);
    letter-spacing: 4px;
}

#tagline {
    font-size: 25px;
    margin: 15px 0;
    color: #ececec;
    font-weight: bolder;
    font-family: var(--secondary-font);
}

#description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    color: grey;
}

.my-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}


/*Product Page Section Start from Here */

.container-filled {
    margin-top: 100px;
    border-radius: 50px;
    width: 100%;
    max-width: 1280px;
    background-color: var(--main-bg-color-1);
}

.book_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin-bottom: 30px;
}


.book_header h1 {
    font-size: 75px;
    font-family: var(--heading-font);
    color: var(--main-text-color);
    letter-spacing: 4px;
}

.my-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    gap: 25px;
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.product1 {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.imgs-product {
    width: 100%;
    border-radius: 10px;
}
.imgs-product img {
    width: 100%;
    border-radius: 25px;
    border: 2px solid var(--main-outline-color);
    padding: 10px;
}

.dtl-product {
    display: none;
    position :absolute;
    bottom: 15px;
    left: 10px;
    border-radius: 20px;
    width: 90%;
}

.dtl-product h3 {
    font-size: 18px;
    color:#dfdede;
    padding: 10px;
    margin-bottom: 5px;
}

.btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.dtl-product button {
    margin-left: 10px;
}

.product1:hover .imgs-product img {
    filter: brightness(0.6);
    cursor: pointer;
}

.product1:hover .dtl-product {
    cursor: pointer;
    display: block;
}

/*Education Page Section Start from Here */

.edu-container {
    margin-top: 100px;
    border-radius: 25px;
    width: 100%;
    max-width: 1280px;
}

.edu-card {
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: flex-start; /* Align to the top of the image */
    padding: 30px 0px;
}

.detail {
    display: flex;
    align-items: flex-start; /* Align both the image and details to the top */
}

.institute-img {
    width: 100%;
    padding-right: 25px;
    display: block;
    position: relative; /* Enable absolute positioning inside this container */
    display: block;
}

.institute-img img {
    width: 100%;
    border-radius: 25px;
    border: 4px solid var(--main-outline-color);
}


.institute-img h4 {
    position: absolute; /* Position the title over the image */
    bottom: 10px;/* Adjust the distance from the top */
    left: 10px; /* Adjust the distance from the left */
    color: var(--main-text-color);
    padding: 5px 5px;
    font-size: 18px;
    bottom: 10px;
    left: 20px;
    z-index: 2;
    margin: 0;
}
.edu-details {
    display: flex;
    justify-content: space-between; /* Keeps the h3 and h4 spaced apart */
    width: 100%;
    padding-bottom: 15px;
}

.edu-details h3 {
    color: #ffffff;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
}

.edu-details h4 {
    color: #dfdfdf;
    font-size: 20px;
    margin-left: auto; /* Pushes the h3 to the end */
    text-align: right;
    font-weight: 500;
}

.description {
    color: aliceblue;
    font-size: 20px;
    padding-top: 25px;
    line-height: 1.2;
    border-top: 2px solid var(--main-outline-color);
    margin-left: 10px;
}

/* CSS for Blogs Section */

.hobbies-container {
    background-color: var(--main-bg-color-1);
    border-radius: 50px;
    padding: 50px;
    margin-top: 100px;
}


.cards-holder {
    display: flex;
    flex-direction: column;
    grid-gap: 10px; 
    width: 100%; 
    justify-items: center;
}
.top-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.song {
    width: 585px;
    height: 180px;
    border: solid 3px var(--main-bg-color-2);
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.song-product {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 30px;
    text-align: left;
}
.song-details {
    position: relative; /* Ensures children with absolute positioning stay within this container */
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(135deg, #3a7bd5, #00d2ff);
    border-radius: 15px;
}

#song-cover {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.song-btn {
    position: absolute; /* Allows button to be positioned relative to .song-details */
    bottom: 10px; /* Distance from the top of the container */
    left: 10px; /* Distance from the right of the container */
    z-index: 10; /* Ensures the button appears on top of the image */
}

.song-info {
    width: 100%;
    height: 75%;
    display: inline-block; /* Ensures the image and button stay together */
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative; /* Allows the button to be positioned relative to this container */

}

.song-info h3 {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.song-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #d3d3d3;
}

.controls{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.player-controler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    width: 100%;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}


.control-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.control-btn img {
    outline: none;
    width: 30px;
    filter: invert(1);
}

.control-btn:hover {
    transform: scale(1.2);
}


.up-card {
    display: flex;
    gap: 20px;
}

.horizontal-card {
    display: flex;
    flex-direction: column;
    max-width: 575px;
}

.vertical-cards {
    display: flex;
    gap: 20px;
}

.creative-card {
    width: 282.5px;
    border-radius: 20px; 
    padding: 10px;
    border: 3px solid var(--main-bg-color-2);
    padding: 10px;
    height: 450px;
    overflow: hidden;
    position: relative; /* Necessary for positioning child elements */

}

.creative-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.creative-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 20px;
}

.creative-product img.active {
    opacity: 1;
}


.creative-card {
    display: flex;
    gap: 20px;
}

.photo-card {
    width: 277.5px;
    height: 450px;
    border-radius: 20px; 
    color: white; 
    border: 3px solid var(--main-bg-color-2);
    padding: 10px;
    overflow: hidden;
    position: relative; /* Necessary for positioning child elements */
}


.photo-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photo-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.photo-product img.active {
    opacity: 1;
}

/* Style for the button */
.slider-button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 10;
}

.adventures-card {
    width: 575px;
    height: 325px;
    border-radius: 20px; 
    color: white; 
    border: 3px solid var(--main-bg-color-2);
    padding: 10px;
    position: relative; /* Enables child elements to use absolute positioning */

}

.adventures-product {
    width: 100%; /* Ensures the video container matches card width */
    height: 100%;
    overflow: hidden; /* Clips video content overflowing the div */
    position: relative; /* Ensures child video respects bounds */
}

.adventures-product video {
    width: 100%;
    height: 100%;
    border-radius: 15px; /* Optional: Rounding for video */
    outline: none;
    border: none;
    object-fit: cover;
}

.my-bt0 {
    position: absolute; /* Positions the button relative to the parent */
    top: 20px; /* Distance from the top edge */
    right: 20px; /* Distance from the right edge */
    z-index: 10; /* Ensures the button is above the video */

}



/* CSS for ideas Section */
.ideas-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ideas-cards-holder {
    display: flex;
    flex-direction: column;
    gap: 75px;
    width: 100%; 
    justify-items: center;
    margin-top: 25px;
}

.ideas-card {
    color: white;
    text-align: justify;
    width: 100%;
}

.img-status-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--main-outline-color);
    padding-bottom: 20px;
}

.left-half {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
}

.left-half .img-card{
    width: 20%;
    border-radius: 25px;
    overflow: hidden;
    border: solid 2px var(--main-outline-color);
    padding: 10px;
}

.left-half .img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.left-half .idea-title-card {
    width: 100%;
}

.left-half .idea-title-card h3 {
    font-size: 30px;
    color: var(--main-text-color);
    font-family: var(--secondary-font);
}

.right-half {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
}

.right-half .my-btns {
    display: flex;
    gap: 15px;
}

.status-card {
    display: flex;
    gap: 15px;
}

.status-card span {
    margin: 0;
    padding: 8px 15px; 
    font-family: var(--secondary-font);
    background-color: var(--main-bg-color-2);
    border-radius: 10px;
    font-size: 15px;
}

.dtl-status-card {
    padding: 10 0px;
    margin-top: 15px;
}

.dtl-status-card p {
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--main-text-color);
    font-family: var(--secondary-font);
}
