{% extends "portfolio-base.html" %}
{% block title %} Roshan {% endblock %}
{% load static %}

{% block content %}
<div class="blogs-container">
    <div class="blog-detail-card">
        <div class="blog-header">
            <p class="blog-meg">Design</p>
            <p class="blog-meg">Published : <span>Jan 23, 2025</span></p>
            <p class="blog-meg">Read Time : <span>10 min</span></p>
        </div>
        <h1 class="blog-title">UX In The Age of AI/ML</h1>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptas laboriosam qui nemo numquam voluptate.</p>
        <div class="blog-tags">
            <span class="blog-tag">AI</span>
            <span class="blog-tag">ML</span>
            <span class="blog-tag">UX</span>
        </div>
        <img src="../../static/assets/Books/Blog Image.png" alt="Titile Image" class="blog-image">
    </div>
    <div class="blog-side-card">
        <div class="blog-side-card1">
            <h1 class="blog-side-title">Latest Blogs</h1>
            <div class="latest-blogs">
                <div class="latest-blog">
                    <h2>01</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
                <div class="latest-blog">
                    <h2>02</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
                <div class="latest-blog">
                    <h2>03</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
            </div>
        </div>

        <div class="blog-side-card1">
            <h1 class="blog-side-title">Latest Blogs</h1>
            <div class="latest-blogs">
                <div class="latest-blog">
                    <h2>01</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
                <div class="latest-blog">
                    <h2>01</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
                <div class="latest-blog">
                    <h2>01</h2>
                    <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, asperiores.</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}