<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Roshan Portfolio |</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/assets/My Image/favicon.ico">
    <link rel="stylesheet" href="../static/css/re-used.css">
    <link rel="stylesheet" href="../static/css/experiences.css">
</head>
<body>
    
<div class="all-container">
    <div class="cards-header">
        <h1>my experience.</h1>
        <p>Visit all my projects an see the code too also view embedded preview aswell.</p>
        <div class="search-bar">
            <input type="text" placeholder="Search Your Content">
            <button><img src="../../static/assets/Icons/search.png" alt="searchicon"></button>
        </div>
        <div class="cards-sorting">
            <div class="cards-categories">
                <span class="category active" onclick="toggleCategory(this)">All Educations</span>
                <span class="category" onclick="toggleCategory(this)">Professional Certificates</span>
                <span class="category" onclick="toggleCategory(this)">Skill Development</span>
                <span class="category" onclick="toggleCategory(this)">Academic Qualifications</span>
                <span class="category" onclick="toggleCategory(this)">Research and Academic</span>
            </div>
            <div class="cards-sort">
                <button class="outline-btn" id="sort-button" onclick="toggleDropdown()">Sort Education</button>
                <div class="sort-items" id="sort-items">
                    <ul>
                        <li onclick="changeSortOption(this)">Latest Education</li>
                        <li onclick="changeSortOption(this)">Oldest Education</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="hor-cards">
        <div class="exp-card">
            <div class="top-content">
                <div class="exp-image">
                    <img src="../static/assets/Experience/Amazon.png" alt="">
                </div>
                <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>Jan-2020</p>
                    <p>Mar-2022</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>

        <div class="exp-card">
            <div class="top-content">
                <div class="exp-image">
                    <img src="../static/assets/Experience/Amazon.png" alt="">
                </div>
                <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>Jan-2020</p>
                    <p>Mar-2022</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>

        <div class="exp-card">
            <div class="top-content">
                <div class="exp-image">
                    <img src="../static/assets/Experience/Amazon.png" alt="">
                </div>
                <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>Jan-2020</p>
                    <p>Mar-2022</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>

        <div class="exp-card">
            <div class="top-content">
                <div class="exp-image">
                    <img src="../static/assets/Experience/Amazon.png" alt="">
                </div>
                <h2>Sr. Software Engineer</h2>
                <div class="date">
                    <p>Jan-2020</p>
                    <p>Mar-2022</p>
                </div>
            </div>
            <div class="exp-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non vero unde autem? Cum quo odio veritatis rem vero, repudiandae eum possimus ex quam excepturi eaque deleniti. Natus voluptatem animi quos enim nisi aut magnam, consequatur facilis iste accusamus incidunt dolores vitae ut amet consectetur mollitia sint! Dolore dicta ratione sapiente.</p>
            </div>
        </div>
    </div>
    <div class="exp-footer">
        <button class="outline-btn">VIEW ALL THE EDUCATIONS <img src="" alt=""></button>
    </div>
</div>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/all-page.js"></script>
</body>
</html>
